html{
   box-sizing: border-box;
    font-family: 'karla';
    font-size: 16px;
    font-weight: 400;
}
*,*:before,:after
{
    box-sizing: inherit;

}
body{
     padding: 20px;
}
#card{
    width: 600px;
    height: 400px;
    box-shadow: 1px -2px 14px 0px rgba(0,0,0,0.67);
    border-radius: 5px;
    overflow: hidden;

  
}
#top-section{
    width:100%;
    height: 45%;
    padding: 25px;
    
}
#bottom-section{
    width:100%;
    height:60%;
    color: white;
    
  
}
#bottom-left-section{
    vertical-align: top;
    display: inline-block;
    width:50%;
    height:100%;
    background-color: hsl(179, 62%, 43%) ;
    padding: 30px;
   
}
#bottom-right-section{
    vertical-align: top;
    display: inline-block;
    width:50%;
    height:100%;
    padding: 35px;
   
    background-color: #39bdba;
}
  h2,h4,p{
    margin:0;
}
#top-section h2{
    color:#3ead9d;
    margin-bottom: 15px;
}
#top-section h4{
    color:hsl(71, 73%, 54%);
    margin-bottom:10px;
}
#top-section p{
    color:hsl(218, 22%, 67%);
}
button{
    color: white;
    background-color: hsl(71, 73%, 54%);
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 5px ;


}
#price{
    font-size: 700;
    font-size: 1.4rem;
}
#price-frequency,#price{
    display : inline-block;
    margin-bottom: 10px;
}
#price-frequency{
    position:relative;
    top: -3px;
    opacity: 0.7;
    font-size: 0.8rem;
    margin-left: 5px; 
}
ul{
    
    padding: 0;
    list-style: none;
    opacity: 0.7;

}
button:hover{
    cursor: pointer;
    background-color:hsl(71, 44%, 50%) ;
    transform: scale(1.02);
}
@media(max-width:650px){
    #bottom-right-section,#bottom-left-section,#card{
        width:100%;
        height:auto;
    }
}


